.content {
    height: 70vh;
    margin: 0 auto;
    padding-top: 20px
}

.weatherCard {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px 5px #778899
}

.weatherHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px
}

.temperatureValue {
    height: 1vh;
    font-size: 100px;
    color: #FFFFFF
}

.weatherValue {
    height: 1vh;
    font-size: 40px;
    color: #FFFFFF
}

.descriptionsWeather {
    display: flex;
    justify-content: space-around
}